{% extends "layout.html" %}

{% block content %}

{% if session.username %}
<h1> Welcome {{ session.username }} !</h1>

<p>Either start a new workout or view/edit your previous sessions!</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col"><a href="{{url_for('workout')}}">New Workout</a></th>
            <th scope="col"><a href="{{url_for('user_history')}}">Workout history</a></th>
        </tr>
    </thead>
</table>

{% else %}
    {% if issue %}
        <h3>{{issue}}</h3>
    {% else %}
        <h3> Please login or register a new account before beginning!</h3>
    {% endif %}
{% endif %}

{% endblock %}