{% extends "layout.html" %}

{% block content %}

<br/>

<form action="/workout_input" method="post" id="workoutForm">

    <div class="form-group">
        <input type="text" class="form-control" id="workoutName" name="workoutName" value="Workout {{workoutNo}}" />
        <span class="glyphicon glyphicon-pencil input-group-text"></span>
    </div>

    {% include "builders/benchbuilder.html" %}
    {% include "builders/squatbuilder.html" %}
    {% include "builders/deadliftbuilder.html" %}

    <input type="number" id="benchsets" name="benchsets" hidden />
    <input type="number" id="squatsets" name="squatsets" hidden />
    <input type="number" id="deadliftsets" name="deadliftsets" hidden />
    <button class="btn btn-primary" type="submit">
        <span class="glyphicon glyphicon-ok"></span> End Workout
    </button>
</form>

{% endblock %}

