{% extends "layout.html" %}

{% block content %}

<h2>Workout {{workoutNo}}</h2>

<form action="/workout" method="post" id="workoutForm">
    <table class="table" id="benchTable">
        <thead>
            <tr>
                <th scope="col">Bench <button type="button" onclick="addBenchSet()">add set</button> </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    
    <table class="table" id="squatTable">
        <thead>
            <tr>
                <th scope="col">Squat</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    <button type="button" onclick="addSquatSet">add set</button>
                </th>
            </tr>
        </tbody>
    </table>
    
    <table class="table" id="deadliftTable">
        <thead>
            <tr>
                <th scope="col">Deadlift</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    <button type="button" onclick="addDlSet">add set</button>
                </th>
            </tr>
        </tbody>
    </table>

    <input type="number" id="benchsets" name="benchsets" hidden />
    <input type="number" id="squatsets" name="squatsets" hidden />
    <input type="number" id="deadliftsets" name="deadliftsets" hidden />
    <input type="submit" value="End workout" />
</form>



<script>
    function addRow() {
        var table = document.getElementById("workout-table");
        var row = table.insertRow(table.rows.length);
        var cell = row.insertCell(0);
        cell.innerHTML = "new row";
    }

    function addBenchSet() {
        var table = document.getElementById("benchTable");
        var row = table.insertRow(table.rows.length);
        var ex = "benchset";
        var setnumber = table.rows.length - 1;
        var inputName = setnumber.toString().concat(ex);

        var labelW = document.createElement("label");
        labelW.htmlFor = "weight"
        labelW.innerHTML = "Weight";

        var labelS = document.createElement("label");
        labelS.htmlFor = "sets";
        labelS.innerHTML = "sets";

        var labelR = document.createElement("label");
        labelR.htmlFor = "reps";
        labelR.innerHTML = "reps";

        var weight = document.createElement("input");
        weight.name = inputName.concat("weight");
        weight.type = Number;
        weight.id = "weight";

        var sets = document.createElement("input");
        sets.name = inputName.concat("sets");
        sets.type = Number;
        sets.id = "sets";

        var reps = document.createElement("input");
        reps.name = inputName.concat("reps");
        reps.type = Number;
        reps.id = "reps";

        row.insertCell(0).appendChild(labelW).appendChild(weight);
        row.insertCell(1).appendChild(labelS).appendChild(sets);
        row.insertCell(2).appendChild(labelR).appendChild(reps);

        document.getElementById("benchsets").value = setnumber;
    }
</script>

{% endblock %}

